/* ------- Google Fonts ------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,400&display=swap');

/* ------- Base ------- */

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'Arial', sans-serif;
    box-sizing: border-box;

}

html {
    scroll-behavior: smooth;

}

body {
    margin: 0;
    padding: 0;
    color: #fff;
    font-weight: normal;
    font-size: 16px;
    min-height: 100vh;
    display: flex;
    background-color: #122953;

}

ul {
    list-style: none;

}

a {
    text-decoration: none;

}

h1,
h2,
h3,
h4 {
    color: #fff;

}

/* ------- Section ------- */

.pages {
    display: none;
}

.hero {
    position: relative;

    width: 100%;
    height: 100vh;
    /* overflow: hidden; */

}

.box {
    position: relative;
    display: block;
    width: 100%;
    height: 100vh;

}

.flex {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #222;
    width: 320px;
    height: 28rem;
    padding: 20px;
    margin: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 1rem 3rem rgb(0, 0, 0, .45);
    overflow: hidden;
    cursor: pointer;
    transition: all .3s ease-out;

}

.card:hover {
    transform: translateY(-0.5%);
    box-shadow: 0 1rem 3rem rgb(0, 0, 0, .98);

}

.btn {
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 40px;

}

.content {
    display: flex;
    position: relative;
    align-items: center;
    padding-top: 40px;
    color: #fff;

}
.btn_ctn {
    position: absolute;
    display: block;
    padding: 8px 70px;
    color: #fff;
    border-radius: 5px;
    background-color: #122953;
    transition: .3s;
    
}

.btn_ctn:hover {
    padding: 8px 85px;

}

.load {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
}

.load span {
    display: flex;
    margin: 8px;
    width: 12px;
    height: 12px;
    border-radius: 5rem;
    background-color: #fff;
    transform: translateY(0);
    animation: load1 .8s infinite alternate;

}

.load span:nth-child(1) {
    animation-delay: .1s;

}
.load span:nth-child(2) {
    animation-delay: .3s;

}
.load span:nth-child(3) {
    animation-delay: .5s;

}

@keyframes load1 {
    to {
        width: 26px;
        height: 26px;
        transform: translateY(-16px);
    }
}

